{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Log In{% endblock %}

{% block content %}
    {% load bootstrap3 %}
<div class="ui main container"  style="width: 30%;"  xmlns="http://www.w3.org/1999/html">
<h2>Log In</h2>
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <br>
    <br>
    <button class="btn btn-success ml-2" type="submit">Log In</button>
    <a href="{% url 'reset_password' %}">
            Forgot Password?</a>
</form>
<br/>

 </div>
{% endblock content %}











