{% extends 'base.html' %}
{% block content %}
    {% load bootstrap3 %}
    {% if errors %}
        {% for error in errors %}
            <div class="panel panel-danger"><div class="panel-heading">{{ error }}</div></div>
        {% endfor %}
    {% endif %}

    {% if submitted %}
        <p class="success">
            <h3>Request has been submitted successfully.</h3>
            <h3>Please click continue to make enter another blood request</h3>
            <br>
            <a href="/storage/request/" class="btn btn-sm btn-info" type="button" >Continue</a>
        </p>
    {% else %}
        <form id="donate_form" action="/storage/request/" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_button 'submit' button_type="submit" button_class="btn-primary" %}
        </form>
    {% endif %}

{% endblock %}